.page {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 40px 20px;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.full-width {
  display: block;
  width: 100%;
}

.mode-group {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

/*.mode-group re-button {
  flex: 1 1 0;
  min-width: 220px;
  max-width: 100%;
  box-sizing: border-box;

  display: block;
}*/

.cont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.cont re-button {
  flex: 1 1 0;
  min-width: 220px;
  max-width: 100%;
  box-sizing: border-box;

  border-radius: 0;

  display: block;
}
.mode-button re-chip {
  position: absolute;
  top: 8px;
  right: 8px;
}

.option-block {
  width: 100%;
  min-width: 100%;

  border-radius: 0;
  margin: 0;

  background-color: color-mix(in srgb, var(--paper-background-color) 50%, black);
}

@media (max-width: 480px) {
  .mode-group {
    flex-direction: column;
  }

  .mode-group re-button {
    flex: none;
    width: 100%;
  }
}