#page {
  min-width: 399px;
}

.testing-actual-page {
  min-width: 100%;
  min-height: 100%;
  padding: 40px 20px;
}

.titleBlock {
  text-align: center;
  margin-bottom: 40px;
}

.answers-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 12px;
  min-width: 100%;
}

.questions-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.btn {
  flex: 1;
  flex-grow: 1;
}

.question-card {
  min-width: 250px;
  max-width: 480px;
  box-sizing: border-box;
}