:host([hidden]) {
    display: none;
}

:host {
    border-radius: 999px;

    font-family: var(--font-family);
    font-size: var(--btn-font-size, 0.875rem);
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
    white-space: wrap;

    /* make chips behave predictably inside flex containers */
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;

    font-size: var(--chip-font-size);
    padding: var(--chip-padding-y) var(--chip-padding-x);

    border: var(--chip-border);
    background-color: var(--chip-bg-color);
    color: var(--chip-text-color);
}

:host(:hover:not([interactive="false"])) {
    cursor: not-allowed;
    pointer-events: none;
    transform: none;
}
:host([disabled]) {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
    transform: none;
}

:host([color="empty"]) {
    --chip-border: none;

    --chip-bg-color: var(--color-empty);
    --chip-text-color: var(--color-empty-contrast);
    --chip-hover-bg-color: var(--color-empty-hover);
}

:host([color="primary"]),
:host(:not([color])) {
    --chip-border: none;

    --chip-bg-color: var(--color-primary);
    --chip-text-color: var(--color-primary-contrast);
    --chip-hover-bg-color: var(--color-primary-hover);
}

:host([color="secondary"]) {
    --chip-border: none;

    --chip-bg-color: var(--color-secondary);
    --chip-text-color: var(--color-secondary-contrast);
    --chip-hover-bg-color: var(--color-secondary-hover);
}

:host([color="tertiary"]) {
    --chip-border: none;

    --chip-bg-color: var(--color-tertiary);
    --chip-text-color: var(--color-tertiary-contrast);
    --chip-hover-bg-color: var(--color-tertiary-hover);
}

:host([color="additional"]) {
    --chip-border: none;

    --chip-bg-color: var(--color-additional);
    --chip-text-color: var(--color-additional-contrast);
    --chip-hover-bg-color: var(--color-additional-hover);
}

:host([color="info"]) {
    --chip-border: none;

    --chip-bg-color: var(--color-info);
    --chip-text-color: var(--color-info-contrast);
    --chip-hover-bg-color: var(--color-info-hover);
}

:host([color="success"]) {
    --chip-border: none;

    --chip-bg-color: var(--color-success);
    --chip-text-color: var(--color-success-contrast);
    --chip-hover-bg-color: var(--color-success-hover);
}

:host([color="warning"]) {
    --chip-border: none;

    --chip-bg-color: var(--color-warning);
    --chip-text-color: var(--color-warning-contrast);
    --chip-hover-bg-color: var(--color-warning-hover);
}

:host([color="error"]) {
    --chip-border: none;

    --chip-bg-color: var(--color-error);
    --chip-text-color: var(--color-error-contrast);
    --chip-hover-bg-color: var(--color-error-hover);
}

:host([variant="outlined"]) {
    --chip-bg-color: transparent;
    --chip-border: 1px solid var(--chip-text-color);
}

:host([variant="outlined"][color="empty"]) {
    --chip-text-color: var(--color-empty);
}

:host([variant="outlined"][color="primary"]),
:host([variant="outlined"]:not([color])) {
    --chip-text-color: var(--color-primary);
}

:host([variant="outlined"][color="secondary"]) {
    --chip-text-color: var(--color-secondary);
}

:host([variant="outlined"][color="tertiary"]) {
    --chip-text-color: var(--color-tertiary);
}

:host([variant="outlined"][color="additional"]) {
    --chip-text-color: var(--color-additional);
}

:host([variant="outlined"][color="info"]) {
    --chip-text-color: var(--color-info);
}

:host([variant="outlined"][color="success"]) {
    --chip-text-color: var(--color-success);
}

:host([variant="outlined"][color="warning"]) {
    --chip-text-color: var(--color-warning);
    --chip-hover-bg-color: var(--color-warning-container);
}

:host([variant="outlined"][color="error"]) {
    --chip-text-color: var(--color-error);
    --chip-hover-bg-color: var(--color-error-container);
}

:host([size="small"]) {
    --chip-font-size: 0.78rem;
    --chip-padding-y: 4px;
    --chip-padding-x: 8px;
}

:host([size="medium"]),
:host(:not([size])) {
    --chip-font-size: 0.85rem;
    --chip-padding-y: 6px;
    --chip-padding-x: 10px;
}

:host([size="large"]) {
    --chip-font-size: 1rem;
    --chip-padding-y: 8px;
    --chip-padding-x: 12px;
}

:host([size="extra-large"]) {
    --chip-font-size: 1.5rem;
    --chip-padding-y: 12px;
    --chip-padding-x: 18px;
}